@font-face {
	font-family: 'Montserrat-Medium';
	src: URL('Montserrat-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat-ExtraBold';
	src: URL('Montserrat-ExtraBold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat-Medium';
  font-size: 1em;
  color: #111;
  background: #fff;
}

.innerwrap {
  width: 1180px;
  margin: 0 auto;
}
.container {
	position: relative;
  overflow: hidden;
}

.container-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.header-menu {
  float: right;

  a {
    padding: 15px 15px;
    color: #fff;
    border-bottom: 0;
    display: inline-block;
    font-size: 0.9em;
  }

  ion-icon {
    padding: 10px;
    font-size: 1.8em;
    float: right;
    cursor: pointer;
    color: #fff;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.profile .avatar {
  margin-top: -60px;
  background: #7510f7;
  padding-bottom: 10px;
  z-index: 1;
  position: relative;
  border-radius: 0 0 50% 50%;
}

.profile .avatar svg {
  width: 150px;
  margin-bottom: -15px;
}

.profile-details {
  display: flex;
  align-items: center;
}

.profile-details .info {
  padding-left: 55px;
}

.profile-details .info h2 {
  margin-bottom: 10px;
  font-family: 'Montserrat-ExtraBold';
  letter-spacing: 0.05em;
}

.profile-details .info a {
  text-decoration: none;
  border-bottom: 2px dotted #8062f7;
}

.profile-actions button {
  padding-right: 55px;
  position: relative;
  cursor: pointer;
}

.profile-actions button ion-icon {
  position: absolute;
  font-size: 1.6em;
  right: 12px;
  top: 8px;
}

.exp-section {
  display: flex;
  align-items: flex-start;
  margin: 40px 0;
  padding: 40px 0 30px;
  border-bottom: 1px solid #eee;
  position: relative;
}

.exp-section:last-child {
  border-bottom: 0;
  margin: 0;
}

.exp-section .subtitle {
  flex: 2;
  font-family: 'Montserrat-Medium';
  margin-top: 2px;
}

.exp-section .content {
  flex: 10;
}

.exp-section .content > p {
  line-height: 28px;
  margin-bottom: 15px;
}

.header {
  height: 180px;
  background: linear-gradient(188deg, #6c08ed, #7510f7);
  overflow: hidden;
  position: relative;
}

button {
  padding: 12px 20px;
  border: 0;
  border-radius: 8px;
  font-weight: 600;
  text-transform: capitalize;
  background: #7510f7;
  color: #fff;
}

.about-me {
  margin: 0 10px;
}

.about-me > p {
  line-height: 26px;
  margin-bottom: 20px;
}

a {
  color: #8062f7;
  text-decoration: none;
  border-bottom: 2px dotted #8062f7;
}

.card-view {
  padding: 0;
  background: #f8f5fe87;
  margin: 15px 0;
  margin-top: 40px;
  border-radius: 6px;
  display: flex;
  align-items: flex-start;
  position: relative;
  border-left: 3px solid #8062f7;
  box-shadow: 0 3px 3px 0 rgb(236 226 255), 0 5px 15px 0 rgb(243 237 255);
}

.card-view .arrow {
  position: absolute;
  top: 30px;
  font-size: 2.2em;
  left: -60px;
  display: none;
}

.card-view .card {
  padding: 25px 30px;
  flex: 1;
}

.card-view .card.email {
  padding-right: 50px;
}

.card-view .card strong {
  font-size: 0.9em;
  color: #7f58da;
  padding-left: 5px;
}

.card-view .card p {
  padding: 10px 0 0;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card-view .card p a {
  color: inherit;
  border-bottom-color: #7510f7;
}

.card-view .card p span {
  padding-left: 5px;
}

/* Skill Card */
.skill-card {
  display: flex;
}

.skill-card .card {
  flex: 6;
  padding: 20px;
  border: 1px solid #f6f6f6;
  border-radius: 6px;
  margin: 0 10px 20px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%), 0 5px 15px 0 rgb(0 0 0 / 5%);
}

.skill-card .card p {
  color: #4e4a4a;
  margin-top: 8px;
  font-size: 0.9em;
}

.skill-card .card .line p {
	color: #474747;
	margin-top: 8px;
	font-size: 0.8em;
}

.timeline {
  padding: 10px;
  margin: 10px 0;
  margin-top: 30px;
  padding-left: 45px;
  position: relative;
  height: 100%;
}

.timeline .line {
  margin-bottom: 35px;
  position: relative;
}

.timeline .line:last-child {
  margin: 0;
}

.timeline .line:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #d3d3d3;
  position: absolute;
  border-radius: 50%;
  left: -40px;
  top: 15px;
}

.timeline:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background: #d3d3d3;
  left: 9px;
  top: 0;
}

.skills-list {
  margin: 0 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.skills-list .item {
  width: 50px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  margin-right: 15px;
}

.skills-list .item img {
  width: 100%;
}

/* Education */
.education-cards {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 10px;
}

.education-cards .item {
  margin-bottom: 20px;
  padding: 10px 25px;
  line-height: 32px;
  background: #fff;
  width: 100%;
  border-radius: 6px;
}

.education-cards .item p {
  color: #4e4a4a;
  font-size: 0.9em;
}

/* Blog Cards */
.blog-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .item {
    width: 300px;
    text-decoration: none;
    color: inherit;
    border: none;
    margin: 0 10px 20px;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    img {
      width: 100%;
      border-radius: 8px;
      transition: all ease 0.3s;
    }
    h4 {
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 2px;
      line-height: 24px;
    }
    p {
      font-size: 0.9em;
      padding: 2px;
      color: #4e4a4a;
    }
  }
}

/* languages */
ul.langiages-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 30px;
}

ul.langiages-list li {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.footer-creds span {
  font-family: "Space Mono";
  font-size: 1.6em;
  float: left;
  padding-right: 5px;
}

.footer-social ion-icon {
  font-size: 1.5em;
  padding: 5px 10px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social a {
  text-decoration: none;
  border-bottom: 0;
  color: #111;

  &.npm {
    font-size: 1.8em;
    line-height: 0;
    padding-top: 1px;
  }
}

.radialProgressBar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ddd;
  margin-right: 10px;
}

.radialProgressBar .overlay {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: auto;
  background: transparent;
  text-align: center;
}

.progress-10 {
  background-image: -webkit-linear-gradient(36deg, #ddd 50%, transparent 50%),
    -webkit-linear-gradient(left, #a38ff1 50%, #ddd 50%);
  background-image: linear-gradient(54deg, #ddd 50%, transparent 50%),
    linear-gradient(90deg, #a38ff1 50%, #ddd 50%);
}

.progress-60 {
  background-image: -webkit-linear-gradient(left, #a38ff1 50%, transparent 50%),
    -webkit-linear-gradient(36deg, #a38ff1 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #a38ff1 50%, transparent 50%),
    linear-gradient(54deg, #a38ff1 50%, #ddd 50%);
}

.progress-90 {
  background-image: -webkit-linear-gradient(left, #a38ff1 50%, transparent 50%),
    -webkit-linear-gradient(144deg, #a38ff1 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #a38ff1 50%, transparent 50%),
    linear-gradient(-54deg, #a38ff1 50%, #ddd 50%);
}

.progress-100 {
  background-image: -webkit-linear-gradient(left, #a38ff1 50%, transparent 50%),
    -webkit-linear-gradient(right, #a38ff1 50%, #ddd 50%);
  background-image: linear-gradient(90deg, #a38ff1 50%, transparent 50%),
    linear-gradient(-90deg, #a38ff1 50%, #ddd 50%);
}

/* Contact Us */

.contactform-header {
  margin: 0 10px 20px;
  border-bottom: 1px solid #eee;
  h2 {
    margin-bottom: 10px;
  }
}

.contactform {
  margin: 0 10px;

  input[type="text"],
  textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    margin: 5px 0;
  }

  textarea {
    height: 100px;
    resize: none;
  }

  .field {
    margin-bottom: 25px;

    label {
      margin-bottom: 2px;
      display: inline-block;
      font-weight: bold;
      font-size: 0.9em;
    }

    span.error {
      font-size: 0.9em;
      color: red;
    }

    button[type="submit"] {
      cursor: pointer;
    }
  }
}

.thankyou {
  text-align: center;
  padding: 60px 0;

  .icon {
    font-size: 5em;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  p {
    line-height: 28px;
  }
}

@media only screen and (max-width: 1280px) {
  .innerwrap {
    width: 100%;
  }

  .card-view,
  .skill-card {
    display: inline-block;
    width: 100%;
  }

  .header {
    height: 120px;
    background: #7510f7;
  }

  .profile {
    flex-direction: column;
    margin-bottom: 30px;

    .profile-details {
      flex-direction: column;

      .info {
        padding: 20px 0 30px;
        text-align: center;
      }
    }
  }

  .exp-section {
    margin: 0;
    padding: 20px 15px 50px;

    .subtitle {
      text-align: center;
      margin-bottom: 25px;
    }

    .skill-card {
      display: flex;
    }
    .card-view .card {
      width: 50%;
      float: left;
    }

    .footer {
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }

  .skills-list.flying-skills {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .exp-section {
    display: inline-block;
    width: 100%;

    .skill-card {
      display: inline-block;
    }
    .card-view .card {
      width: 100%;
      float: left;
    }
  }
}

@media only screen and (max-width: 540px) {
  .profile .profile-details .info p {
    line-height: 28px;
  }
  .exp-section {
    padding: 20px 5px 50px;

    .about-me {
      text-align: justify;
    }

    ul.skills-list {
      justify-content: space-between;
    }

    .card-view .card {
      padding: 20px 10px;
    }
    ul.langiages-list li {
      width: 100%;
    }
    .footer-social ion-icon {
      padding: 5px;
    }

    .blog-cards {
      justify-content: center;
    }
  }
}

.mini-coder {
  cursor: pointer;

  &:hover {
    .bubble {
      opacity: 1;
      transform: scale(1);
    }
  }

  .bubble {
    position: absolute;
    bottom: 60px;
    left: 25px;
    width: 230px;
    padding: 10px;
    background: #101010;
    color: #eee;
    border-radius: 30px 40px 30px 20px;
    font-size: 0.8em;
    line-height: 22px;
    padding: 15px 20px;
    padding-left: 18px;
    opacity: 0;
    transform: scale(0.9);
    transition: all ease 0.3s;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background: #101010;
      position: absolute;
      bottom: -13px;
      left: 10px;
      border-radius: 50%;
    }
  }
  img {
    width: 50px;
    position: absolute;
    bottom: -2px;
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

.skills-list.flying-skills .skill-icon {
  position: absolute;
  top: 0;
  right: 0;

  &.astro {
    top: 30px;
    right: 5px;
    transform: rotate(-10deg);
    opacity: 0.7;
  }
  &.vue {
    top: 0;
    right: -45px;
    transform: rotate(-30deg);
    opacity: 0.6;
  }
  &.remix {
    top: 15px;
    right: -120px;
    transform: rotate(13deg);
    opacity: 0.5;
  }
  &.nuxt {
    top: -55px;
    right: -105px;
    transform: rotate(-2deg);
    opacity: 0.4;
  }
  &.vite {
    top: -27px;
    right: -182px;
    opacity: 0.3;
  }
  &.rollup {
    top: -89px;
    right: -200px;
    transform: rotate(12deg);
    opacity: 0.2;
  }
  &.markdown {
    top: -89px;
    right: -300px;
    transform: rotate(12deg);
    opacity: 0.1;
  }
}